* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #344a72;
  color: #fff;
  line-height: 1.8;
  text-align: center;
}

.container {
  padding: 20px;
  margin: 0 auto;
}
.container > h1 {
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

#inputValue {
  height: 45px;
  border: none;
  width: 40vh;
  font-size: 15px;
  outline: none;
  margin: 5px;
  border-radius: 5px;
  padding-left: 20px;
}

input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
  border-color:#4d90fe;
}

#search {
  background-color:#49c1a2;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

#search:hover {
  background:#37a08e;
}

#movies-searchable {
  margin-top: 20px;
}

section {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 20px 0;
}

section img {
  width: 200px;
  transition: 250ms all;
}

img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.content {
  border: 1px solid red;
  display: none;
}

.content div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.content-display {
  display: block;
}

iframe {
  
}



.modal {
  display: none; /*Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}